<%if @active_orders[0]%>
  <%= render 'active_orders'%>
<%end%>
<br/>
<h2 class ="text-light">Les jeux que vous avez empruntés</h2>
<div class="container">
  <div class="row viewer">  
    <%if @past_orders[0] %>
      <div class='liste col-3'>
        <%= render 'list' %>
      </div>
      <div class='resume col-9'>
        <% order = [] %>
        <% if !order[0].nil? %>
          <%= render 'hist_order' %>
        <% end %>
      </div>
    <%else%>
    <br/>
    <h6 class="text-light"> Retrouvez ici vos anciennes commandes</h6>
    <%end%>
  </div>
</div>