<ul class = "list-group">
<% @past_orders.each do |order| %>
    <li class='list-group-item'>
    <%= link_to "Commande #{order.id}", "/show_orders/#{order.id}", style: "color: grey", id: order.id, remote: true %>
    </li>
<% end %>
</ul>