<h2 class ="text-light">Les jeux que vous louez</h2>
  <br/>
  
  <div class='d-flex flex-wrap rented'>
    <br/>
    <%@all_copies.each do |copy|%>
      <div class='card col-3'>
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=copy.game.title%></h5>
          <%unless copy.rented%>
            <%if copy.available%>
              <%= link_to "Rendre indisponible?", "available/#{copy.id}", :class => "btn btn-danger", method: :put, :data => {:confirm => 'Le jeu ne sera plus louable par les autres utilisateurs'}%>
            <%else %>
              <%= link_to "Rendre disponible?", "available/#{copy.id}", :class => "btn btn-warning", method: :put, :data => {:confirm => 'Le jeu redeviendra accessible à tous les utilisateurs'}%>
            <%end%>
          <%end%>
        </div>
      </div>
    <%end%>  
  </div>