<h2 class ="text-light"> Mes jeux en location :</h2>
  <br/>
  
  <div class='d-flex flex-wrap rented'>
    <br/>
    <%@all_copies.each do |copy|%>
      <div class='card col-3'>
        <!--<img class="card-img-top" src="..." alt="Card image cap"> -->
        <% if copy.game.image.attached? %>
          <div class='card-img-top'><%= image_tag url_for(copy.game.image), size: "200x200" %></div>
        <%else%> 
          <div class='card-img-top'><img src="../assets/no_photo.svg" height="200" width="200" alt="pas de photos"></div>
        <%end%>
        <div class="card-body">
          <h5 class="card-title"><%=copy.game.title%></h5>
          <%unless copy.rented%>
            <%if copy.available%>
            <p> Votre jeu est actuellement disponible à la location</p>
            <label class="switch">
            <input type="checkbox"checked><%= link_to "Rendre indisponible?", "available/#{copy.id}", :class => "slider round", method: :put, :data => {:confirm => 'Le jeu ne sera plus louable par les autres utilisateurs'}%>
            </label><br>
            <span> Rendre indisponible ?</span>
            <%else %>
          <p> Votre jeu <b>n'est pas visible</b> par les autres joueurs</p>
            <label class="switch">
              <input type="checkbox">
              <%= link_to "Rendre disponible?", "available/#{copy.id}", :class => "slider round", method: :put, :data => {:confirm => 'Le jeu redeviendra accessible à tous les utilisateurs'}%>
               </label><br>
            <span> Rendre disponible ?</span>
            <%end%>
          <%end%>
        </div>
      </div>
    <%end%>  
  </div>

