<%if @renting_copies[0]%>
  <h2 class ="text-light">Les jeux actuellement empruntés</h2>
  <br/>
  <div class='d-flex flex-wrap rented'>
  <br/>
    <%if @unconfirmed_copies[0]%>
      <%= render 'unconfirmed_copies'%>
    <%end%>
    <%if @confirmed_copies[0]%>  
      <%= render 'confirmed_copies'%>
    <%end%>
  </div>
<%end%>
<%if @rented_copies[0]%>
  <%render 'rent_copies'%>
<%else%>
  <h2 class ="text-light">Vous voulez louer des jeux?</h2>
  <br/>
  <h4 class ="text-light">Ajoutez un jeu que vous possedez grace au formulaire ci-dessous!</h4>
  <%= render 'add_copy'%>
<%end%>