<%@unconfirmed_copies.each do |copy|%>
  <div class='card col-3'>
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=copy.game.title%></h5>
      <p class='card-text'><%=copy.game.description%></p>
      <a href="confirm/:id" data-confirm="Vous avez bien remis le jeu?" class="btn btn-primary">Confirmez l'échange</a>
    </div>
  </div>
<%end%>