
<section class="dorne-welcome-area bg-img bg-overlay">
<div class="row h-10 align-items-center justify-content-center">
  <div class="col-12 col-md-10">
      <!-- Tabs Content -->
      <div class="tab-content" id="nav-tabContent">
        <br><br><br>
          <div class="text_dash justify-content-center">Mon Tableau de bord&nbsp;&nbsp;&nbsp;</div>
            <!-- Explore Search Form -->
            <div class="explore-search-form" >
                <!-- Tabs -->
                <div class="nav nav-tabs" id="heroTab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-events" aria-selected="false">Demande de location</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Louer mes jeux&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="nav-item nav-link" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Historique des locations</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <!-- Tabs Content -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                      <%= render 'borrowed'%>
                    </div>
                    <div class="tab-pane fade"  id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                      <%= render 'rented'%>
                    </div>
                    <div class="tab-pane fade show active"  id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                      <%= render 'cart' %>
                    </div>
                </div>

                </div>
            </div>
        </div>
      </div>
<div class="background">     
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</section>


