<section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(hero-1.jpg);">
<div class="d-flex justify-content-center">
<!-- Contact Form Area -->
  <div class="contact-form-area equal-height">
    <div class="contact-form">
      <%= render 'add_copy'%>
      <br/>
      <h4>Ton jeu n'est pas présent dans la liste?</h4>
      <h6>Propose le en cliquant --> <%= link_to "Ici ", "/new_games/new" %> <-- !! Notre équipe de choc essayera de le confirmer le plus tôt possible :).</h6>

    </div>
  </div>
</div>
</section>