<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>
<body>
    <center class="wrapper">
        <div class="webkit">
     
    <h1> Bonjour <%= @user.username %> !</h1>
    <br/>
    <h2>Vous venez de louer le(s) jeu(x) suivant(s):</h2>
    <table style=" table-layout: fixed">
        <thead>
            <tr>
                <td>Nom du jeu</td>
                <td>Pseudo du propriétaire</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
        <% @order.copies.each do |copy|%>
            <tr >
                <td><%= copy.game.title %></td>
                <td><%= copy.user.username%></td>
                <td><%= copy.user.email%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <h2>Vous pouvez contacter le(s) propriétaire(s) avec leur mail indiqué ci-dessus afin de vous mettre d'accord sur un horaire pour récupérer le(s) jeu(x)</h2>
    <h3>A bientôt sur <a href="https://colonel-moutarde.herokuapp.com" >ColonelMoutarde.com</a></h3>
        </div>
    </center>
</body>
</html>