<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>
<body>
    <center class="wrapper">
        <div class="webkit">
     
    <h1> Bonjour <%= @copy.user.username %> !</h1>
    <br/>
    <h2>Un de vos jeux vient d'être loué !</h2>
    <h2>Contactez le loueur aux coordonnées suivantes : </h2>
    <h3><%= @loueur.username %></h3>
    <h3><%= @loueur.email %></h3>
    <h2>Pour confirmer que le prêt a eu lieu, aller sur votre <a href="https://colonel-moutarde.herokuapp.com" >dashboard</a> </h2>
    <br/>
    <br/>
    <h3>A bientôt sur <a href="https://colonel-moutarde.herokuapp.com" >ColonelMoutarde.com</a></h3>
        </div>
    </center>
</body>
</html>