  <div class="modal fade" id="modalNoPossibilityComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body mx-3">
          <p>Veuillez vous connecter pour ajouter un commentaire</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <p class="btn dorne-btn" data-dismiss="modal" data-toggle="modal" href="#modalIn">Se Connecter</p>
          <p>  </p>
          <p class="btn dorne-btn" data-dismiss="modal" data-toggle="modal" href="#modalUp">S'enregistrer</p>
        </div>
      </div>
    </div>
  </div>