<div class="listing-title">
  <h1><%= @game.title %></h1>
  <h6>De <%=@game.code%></h6>
  <div class="d-flex justify-content-center">
    <img style="max-height: 300px" src='<%=@game.image_url%>' alt="">
  </div>
</div>
<div class="overview-content mt-50">
  <h4>Description :</h4>
  <p><%= @game.description %></p>
</div>