<div class="listing-title">
  <h1><%= @game.title %></h1>
  <h6>De <%=@game.player_numbers[0]%></h6>
  <img class="centerimage" width="350px" height="740px" src='<%=@game.image_url%>' alt=""> 
</div>
<div class="overview-content mt-50">
  <h4>Description :</h4>
  <p><%= @game.description %></p>
</div>