<div class="row h-100 align-items-center justify-content-center">
  <div class="col-12 col-md-10">
		<%= render 'index_form'%>
	</div>
</div>

<!-- ***** Listing Destinations Area Start ***** -->
<section class="dorne-listing-destinations-area section-padding-100-50">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading dark text-center">
					<span></span>
					<h4>Nos jeux</h4>
					<p>Seulement 3.50 € le jeu en location par semaine !</p>
				</div>
			</div>
		</div>

		<div class="row list_games">
			<%= render 'list_game'%>
		</div>
	</div>
	<%= render 'alert_location'  %>
</section>
<!-- ***** Listing Destinations Area End ***** -->