<!-- ***** Single Listing Area Start ***** -->
<section class="dorne-single-listing-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Single Listing Content -->
      <div class="col-12 col-lg-8">
        <div class="single-listing-content"> 
          <%= render "show_description" %>
          <%= render "show_map" %>
        </div>
      </div>
      <%= render "show_sidebar" %>
    </div>
  </div>
</section>

   