<h3>Copies non rendues après date prévue</h3>
<%@overdue_copies.each do |copy|%>
  <div class='card col-3'>
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=copy.game.title%></h5>
      <p class='card-text'><%=copy.orders.last.user.username%></p>
    </div>
  </div>
  <%end%>
