<div class="section">
  <% if current_user.admin? %>
    <%if @overdue_copies[0]%>
      <%= render 'overdue_copies'%>
    <%end%>
    <div class='resume'>
      <%= render 'content_admin' %>
    </div>
  <% end %>
</div>
<p>&nbsp;</p>