/*flash*/
.alert-error {
  background-color: #DFAA04;
  border-color: #DFAA04;
  color: white;
  text-align: left;
  opacity: 0.7;
}

.alert-alert {
  background-color: #DFAA04;
  border-color: #DFAA04;
  color: white;
  text-align: left;
  opacity: 0.7;
}

.alert-success {
  background-color: #DFAA04 !important;
  border-color: #DFAA04 !important;
  color: white !important;
  text-align: left !important;
  opacity: 0.7 !important;
}

.alert-notice {
  background-color: #DFAA04;
  border-color: #DFAA04;
  color: white;
  text-align: left;
  opacity: 0.7;
}