.rendering-center {
  display: flex;
  justify-content: center;
  position: relative;
  top:120px;
}

.under-navbar {
  position: relative;
  top: 120px;
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

       #map2 {
        height: 100%;
      }

.modal-dialog {
  top: 48px;
}

button.stripe-button-el,
button.stripe-button-el>span {
  min-width: 180px !important;
  height: 52px !important;
  background-color: #DFAA04 !important;
  background-image: none;
  border-radius: 0 !important;
  padding: 0 15px !important;
  line-height: 50px !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  -webkit-transition-duration: 500ms !important;
          transition-duration: 500ms !important;
}

.alert-warning {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
  background-color: #DFAA04 !important;
  opacity: 0.8 !important;
  text-align: center;
}