.rendering-center {
  display: flex;
  justify-content: center;
  position: relative;
  top:120px;
}

.under-navbar {
  position: relative;
  top: 120px;
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

       #map2 {
        height: 100%;
      }

.modal-dialog {
  top: 48px;
}

button.stripe-button-el,
button.stripe-button-el>span {
  min-width: 180px !important;
  height: 52px !important;
  background-color: #DFAA04 !important;
  background-image: none;
  border-radius: 0 !important;
  padding: 0 15px !important;
  line-height: 50px !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  -webkit-transition-duration: 500ms !important;
          transition-duration: 500ms !important;
}

.alert-warning {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
  background-color: #DFAA04 !important;
  opacity: 0.8 !important;
  text-align: center;
}

.black-btn {
  min-width: 180px !important;
  height: 52px !important;
  background-color: #2A2A2A !important;
  border-radius: 0 !important;
  padding: 0 15px !important;
  line-height: 50px !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  -webkit-transition-duration: 500ms !important;
          transition-duration: 500ms !important;
}

.black-btn:hover,
.black-btn:focus {
  color: #fff !important;
  background-color: #2A2A2A !important;
  font-weight: 600 !important;
}


.right {
  display: flex;
  justify-content: space-between;
}

.remenber_box {
  margin-top : 20px;
  margin-left: 4px;
}

.remenber {
  color : white;
  font-size : 12px;
}

.bottom {
  position : absolute;
  margin-top: 90px;
  color : white;
  font-size : 15px;
}

.lien {
  color: white;
  font-weight: bold;
  font-size: 16px;
}


.lien:hover {
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
    font-weight: 800;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
}

input:checked + .slider {
  background-color: #1bdd14;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1bdd14;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
}

.slider.round:before {
  border-radius: 50%;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
}