<!-- ****** Footer Area Start ****** -->
<footer class="dorne-footer-area">
  <div class = "footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-md-flex align-items-center justify-content-between">
          <div>
            <p>
            Copyright 2018. All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by THP Moussaillons Grenoble Session 6 | <a href="/contact" style="color: #848484">Contact</a> | 
            </p>
          </div>
          <div class="footer-social-btns">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Template by <a href="https://colorlib.com" target="_blank" style="color: #848484">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank" style="color: #848484">ThemeWagon</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ****** Footer Area End ****** -->