<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay">
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 h-100">
        <nav class="h-100 navbar navbar-expand-lg">
          <a class="navbar-brand" href="/home/index"><%=image_tag("custom/logo2.png", :style => "width: 160px; height: 150px;")%></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
          <!-- Nav -->
          <div class="collapse navbar-collapse" id="dorneNav">
            <ul class="navbar-nav mr-auto" id="dorneMenu">
              <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listing">Liste des jeux</a>
              </li>
            </ul>
            <!-- Search btn -->
            <div class="right">
            <div class="dorne-search-btn" style="padding-top:7px;">
              <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i>Chercher</a>
            </div>
              <% if current_user%>
                <% if current_user.admin?%>
                  <%=render 'shared/nav_admin'%>
                <% else user_signed_in? %>
                  <%=render 'shared/nav_user'%>
                <% end %>

              <% else %>
                <%=render 'shared/nav_anon'%>
              <% end %>
            </div>
            <!-- Add listings btn -->
            <% if user_signed_in? %>
              <div class="dorne-add-listings-btn" >
                <a href="/dashboard" class="btn dorne-btn">Mon tableau de bord</a>
              </div>
                <div class="dorne-add-listings-btn">
                      <a class="nav-link"> </a>
              </div>
            <% end %>
          </div>
          </div>
        </nav>
      </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
