    <!-- ***** Search Form Area ***** -->
    <div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12">
                    <form action="/explore" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Pour vérifier si un jeu existe, entrez son nom ici et appuyez sur entrée">
                    </form>
                    <div class="search-close-btn" id="closeBtn">
                            <i class="pe-7s-close-circle" aria-hidden="true"></i> 
                    </div>
                </div>
            </div>
        </div>
    </div>