<!-- ***** About Area Start ***** -->
    <section class="dorne-about-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-content text-center">
                        <h2>Seulement 3,50€ par jeu ! Uniquement sur <br><span>#CM</span></h2>
                        <p>Jeux de stratégie, jeu d'énigmes, en famille ou entre amis, les joueurs de votre région mettent à disposition leurs jeux préférés !  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area End ***** -->