<!-- ***** Clients Area Start ***** -->
    <div class="dorne-clients-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="clients-logo d-md-flex align-items-center justify-content-around">
                        <h6> Nos partenaires :</h6>
                        <img src="/assets/clients-img/1.png" alt="">
                        <img src="/assets/clients-img/2.png" alt="">
                        <img src="/assets/clients-img/3.png" alt="">
                        <img src="/assets/clients-img/4.png" alt="">
                        <img src="/assets/clients-img/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Clients Area End ***** -->