<!-- ***** Features Restaurant Area Start ***** -->
    <section class="dorne-features-restaurant-area bg-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <span></span>
                        <h4>LES DERNIERS AVIS :</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    
                        <div class="single-features-area">
                            <div class="ratings-map-area d-flex">
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Samuel Sassani</h5>
                                    <p>J’ai eu l’occasion de réaliser une location sur ce site internet Le Colonel Moutarde Pour la première fois de ma vie, j’ai loué un jeu en ligne.Donc je vous faire un résumé concernant cet expérience. Alors, le site Le Colonel Moutarde est un site fiable, Les produits sont en bon état...</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="false"></i></a>
                                </div>
                            </div>
                        </div>
                       

                       <div class="single-features-area">
                            <div class="ratings-map-area d-flex">
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>pierrex038</h5>
                                    <p>Salut, moi j'ai tester le site Le Colonel Moutarde et c'est nickel, le principe est même mieux que de la location classique.
J'ai accès au nouveauté rapidement et le service fonctionne bien (rapide, bon état des jeux).
Pour moi les roulements avec le marché d'occass est devenu quasi obsolète face a ce système (beaucoup plus économique).</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="false"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="single-features-area">
                            <div class="ratings-map-area d-flex">
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>§Koussage§</h5>
                                    <p>Le Colonel Moutarde sans hésiter si vous voulez profiter de ce système en ayant les sevices. C'est ce qui se fait de mieux. :-)))</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="false"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="single-features-area">
                            <div class="ratings-map-area d-flex">
                            </div>
                            <div class="feature-content d-flex align-items-center justify-content-between">
                                <div class="feature-title">
                                    <h5>Boissillier</h5>
                                    <p>Tout était parfait livraison OK jouet conforme rien à redire et je conseille à 100%. Le rapport qualité prix nickel. J'ai conseillé le site à une amie qui a également louée ses jeux. Le site est très bien fait très clair rien de compliqué.</p>
                                </div>
                                <div class="feature-favourite">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="false"></i></a>
                                </div>
                            </div>
                        </div>

                    
    <!-- ***** Features derniers avis ***** -->