<!-- ***** Features Restaurant Area Start ***** -->
<section class="dorne-features-restaurant-area bg-default">
  <div class="section-heading text-center">
    <h4>Nos plus grands fans</h4>
    <span></span>
  </div>

  <div class="team-leader-block clearfix">
    <div class="d-flex justify-content-around">
      <div class="team-leader-box">
        <div class="d-flex justify-content-center">
          <div class="team-leader wow fadeInDown delay-03s">
            <div class="team-leader-shadow">
            </div>
            <img src="/assets/clients-img/1.jpg" alt="">
          </div>
        </div>
        <h3 class="wow fadeInDown delay-03s">Teddy R</h3>
        <h6 class="wow fadeInDown delay-03s"><i>"J'ai découvert ce site entre deux compétitions. Je suis un grand fan des jeux de rapidité. Venez-me défier au Jungle Speed..."</i></h6>
      </div>

      <div class="team-leader-box">
        <div class="d-flex justify-content-center">
          <div class="team-leader  wow fadeInDown delay-06s">
            <div class="team-leader-shadow">
            </div>
            <img src="/assets/clients-img/2.jpg" alt="">
          </div>
        </div>
        <h3 class="wow fadeInDown delay-06s">Alexandre A</h3>
        <h6 class="wow fadeInDown delay-06s"> <i>"On joue à des jeux de stratégie en famille. Colonel Moutarde nous a permis d'en découvrir de nouveaux. On joue même avec nos voisins maintenant !"</i></h6>
      </div>

    <div class="team-leader-box">
      <div class="d-flex justify-content-center">
        <div class="team-leader wow fadeInDown delay-09s">
          <div class="team-leader-shadow">
          </div>
            <img src="/assets/clients-img/3.jpg" alt="">
        </div>
      </div>
      <h3 class="wow fadeInDown delay-09s">Marion C</h3>
      <h6 class="wow fadeInDown delay-09s"><i>"C'est simple, abordable et on rencontre du monde autour de chez soi ! Quoi dire de plus ? Foncez-vous inscrire !"</i></h6>
    </div>
  </div>
</section>