<!-- ***** Features Restaurant Area Start ***** -->
    <section class="dorne-features-restaurant-area bg-default">
        <div class="section-heading text-center">
                        <h4>Nos plus grands fans</h4>
                        <span></span>
                    </div>
        <div class="container">
            <div class="team-leader-block clearfix">
                <div class="team-leader-box">
                    <div class="team-leader wow fadeInDown delay-03s">
                        <div class="team-leader-shadow"></div>
                        <img src="/assets/clients-img/1.jpg" alt="">
                    </div>
                    <h3 class="wow fadeInDown delay-03s">Walter White</h3>
                    <span class="wow fadeInDown delay-03s">Chief Executive Officer</span>
                    <p class="wow fadeInDown delay-03s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
                </div>

                <div class="team-leader-box">
                    <div class="team-leader  wow fadeInDown delay-06s">
                        <div class="team-leader-shadow"></div>
                        <img src="/assets/clients-img/1.jpg" alt="">
                    </div>
                    <h3 class="wow fadeInDown delay-06s">Jesse Pinkman</h3>
                    <span class="wow fadeInDown delay-06s">Product Manager</span>
                    <p class="wow fadeInDown delay-06s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
                </div>

                <div class="team-leader-box">
                    <div class="team-leader wow fadeInDown delay-09s">
                        <div class="team-leader-shadow"></div>
                        <img src="/assets/clients-img/1.jpg" alt="">
                    </div>
                    <h3 class="wow fadeInDown delay-09s">Skyler white</h3>
                    <span class="wow fadeInDown delay-09s">Accountant</span>
                    <p class="wow fadeInDown delay-09s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>