<!-- ***** Features Restaurant Area Start ***** -->
    <section class="dorne-features-restaurant-area bg-default">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                <div class="container">
                 <div class="row text-center">                                       
                    <div class="col-sm-6 col-md-4">                                                                     
                        <div class="testimonial-box">                           
                            <img src="https://pmcvariety.files.wordpress.com/2017/04/steven-spielberg.jpg?w=1000" class="img-responsive" alt="" width="90">
                            <h4 class="wow fadeInDown delay-03s">Steven S</h4>
                            <span></span>
                           <p class="wow fadeInDown delay-03s">Ce site est génial ! J'ai pu découvrir plein de jeux sans trop dépenser !</p>
                            
                        </div>                  
                    </div> <!-- End Col -->                             
                    
                    <div class="col-sm-6 col-md-4">                                                                     
                        <div class="testimonial-box">                           
                            <img src="https://atfacevalu.com/wp-content/uploads/2012/10/Arnold.jpg" class="img-responsive" alt="" width="90">
                            <h4 class="wow fadeInDown delay-03s">Arnold S</h4>
                             <span></span>
                           <p class="wow fadeInDown delay-03s">Je conseille fortement le Docteur Maboul ! Je ne m'en lasse pas !</p>                                                                
                            
                        </div>                  
                    </div> <!-- End Col -->                             
                    
                    <div class="col-sm-6 col-md-4">                                                                     
                        <div class="testimonial-box">
                            <img src="https://www.challenges.fr/assets/img/2014/01/28/cover-r4x3w1000-579777c0bf653-la-reine-elizabeth-ii-devant-le-palais-de-buckingham-en.jpg" class="img-responsive" alt="" width="90">
                            <h4 class="wow fadeInDown delay-03s">Queen of E</h4>
                             <span></span>
                           <p class="wow fadeInDown delay-03s">On a essayé ce site lors d'une soirée à un mariage et on a tous adoré ! Simple et efficace !</p>                                                                
                        </div>                  
                    </div> <!-- End Col -->                             
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Restaurant Area End ***** -->