    <!-- ***** Welcome Area Start ***** -->
    <section class="dorne-welcome-area bg-img bg-overlay">
         <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="hero-content">
                        <h2>Louez vos jeux préférés  !</h2>
                        <h4>Entre particuliers, partout en France ! </h4>
                    </div>
                    <!-- Hero Search Form -->
                    <div class="hero-search-form">
                        <!-- Tabs -->
                        <div class="nav nav-tabs" id="heroTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">&nbsp;&nbsp;&nbsp;Louer des jeux&nbsp;&nbsp;&nbsp;</a>
                            <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">&nbsp;&nbsp;&nbsp;Mettre en location&nbsp;&nbsp;&nbsp;</a>
                        </div>
                        <!-- Tabs Content -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                <h6>Vous voulez louer ?</h6>
                                <h6>C'est très simple, voici les étapes :</h6>
                                <h6>Se connecter 💾&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Choisir un jeu sur la carte =>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Régler 3,50€ =>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rencontrer le propriétaire</h6>
                            </div>
                            <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                                 <h6>Vous avez des jeux à louer ?</h6>
                                <h6>Vous gagnez 2 € lorsqu'un de vos jeux est loué</h6>
                                <h6>Vous gagnez 2 € lorsqu'un de vos jeux est loué</h6>
                                <h6>Vous gagnez 2 € lorsqu'un de vos jeux est loué</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Social Btn -->
        <div class="hero-social-btn">
            <div class="social-title d-flex align-items-center">
                <h6>Suivez-nous sur Facebook</h6>
                <span></span>
            </div>
            <div class="social-btns">
                <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->