
<section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(hero-1.jpg);">
  <div class="container h-100">
  <div class="row h-100  align-items-center justify-content-center d-flex space-between">
    <div class='col-3'>
      <h1 class ="text-light">Votre espace personnel</h1>
    </div>
    <div class= 'col-9 d-flex flex-column'>
      <div class="nav nav-tabs" id="heroTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-places-tab" data-toggle="tab" href="#nav-places" role="tab" aria-controls="nav-places" aria-selected="true">Les jeux que vous louez</a>
        <a class="nav-item nav-link" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="false">Les jeux que vous avez emprunté</a>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
          <h2 class ="text-light">Les jeux que vous louez</h2>
          <br/>
          <div class='d-flex flex-wrap rented'>
            <br/>
            <%@copies.each do |copy|%>
              <div class='card col-3'>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%=copy.game.title%></h5>
                  <p class='card-text'><%=copy.game.description%></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            <%end%>  
          </div>
        </div>
        <br/>
        <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">

          <h2 class ="text-light">Les jeux que vous avez emprunté</h2>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>