<div class="d-flex justify-content-center">
<!-- Contact Form Area -->
<div class="contact-form-area equal-height">
  <div class="contact-form">
    <h1>Editing Add Game</h1>

    <%= render 'form', add_game: @add_game %>

    <%= link_to 'Show', @add_game %> 
    <%= link_to 'Back', add_copy_path %>
  </div>
</div>
</div>