<p id="notice"><%= notice %></p>

<h1>Add Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_games.each do |new_game| %>
      <tr>
        <td><%= link_to 'Show', new_game_path(new_game) %></td>
        <td><%= link_to 'Edit', edit_new_game_path(new_game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_new_game_path %>
