<div class="d-flex justify-content-center">
<!-- Contact Form Area -->
<div class="contact-form-area equal-height">
  <div class="contact-form">
    <h3>Ajouter un nouveau jeu</h3>
    <%= render  "form", new_game: @new_games %>
      
  <%= link_to 'Retour', new_games_path, :class => 'black-btn'%>
</div>
</div>


