<p id="notice"><%= notice %></p>

<strong><%=@games.title %></strong>
<p><%=@games.description %></p>
<p><%@games.categories %>

<% if @games.image.attached? %>
    <%= image_tag url_for(@games.image) %>
<%else%>
    <img src="../assets/no_photo.svg" alt="pas de photos">
<%end%>


