<div class="rendering-center">
  <h5>Ta location est validée ! <br />Merci pour ton paiement !</h5>
  <div class="row justify-content-between">
    <div class="col-6" >
      <%= link_to "Voir mon historique", "/historique", class: "btn dorne-btn" %>
    </div>
    <div class="col-6">
      <%= link_to "Voir de nouveau les jeux", "/listing", class: "btn dorne-btn" %>
      </div>
  </div>
</div>

